[Desktop Entry]
Version=1.0
Name=urxvt
Comment=An unicode capable rxvt clone
Exec=urxvt
Icon=/home/romain/.icons/terminal.png
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
