[Desktop Entry]
Version=1.0
Name=urxvt (client)
Comment=An unicode capable rxvt clone client for urxvtd
Exec=urxvtc
Icon=/home/romain/.icons/terminal.png
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
